@using AnnualMeeting2020.Web.Models
@using AnnualMeeting2020.Common
@model List<PerformerTicketResultOut>
@{
    Layout = null;
    ViewBag.Title = "选手得票情况";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Admin.css" rel="stylesheet" />
    <style type="text/css">
        /*p {
            font-size: 18px;
        }*/
        .box {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            padding: 0 50px;
        }

        .cont {
            width: 384px;
            background-color: #fff;
            position: relative;
        }
        .cont > img {
            position: absolute;
            top: -24px;
            left: -18px;
            width: 110%;
            height: 40px;
        }

        .list .title {
            font-weight: 700;
            font-size: 22px;
            background-color: #FCF6F5;
        }

        .list > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 12px;
            background-color: #fff;
            border-bottom: 1px solid #e7e7e7;
        }

        .list .list-name p {
            font-size: 16px;
            margin: 0;
            padding: 0;
        }

        .list .list-name span {
            font-weight: 700;
            font-size: 16px;
        }

        .list .list-song {
            font-size: 18px;
            color: #8B8B8B;
        }

        .list .list-poll {
            font-size: 28px;
            font-weight: 700;
            color: #E9624D;
        }
    </style>
</head>
<body>
    <div @*class="container"*@>
        <div class="box">
            <div class="cont">
                <img src="~/Content/Image/list_bg.png" alt="Alternate Text" />
                <div class="list">
                    @for (int i = 0; i < 3; i++)
                    {
                        <div class="title">第@(NumberHelper.NumberToChinese((i + 1).ToString()))批选手得票情况</div>
                        foreach (var item in Model.Skip(((i + 1) - 1) * 5).Take(5))
                        {
                            <div>
                                <div class="list-name">
                                    <p>
                                        @item.TeamName
                                    </p>
                                    <span>
                                        @item.UserName
                                    </span>
                                </div>
                                <div class="list-song">
                                    @item.ProgramName
                                </div>
                                <div class="list-poll @item.Id">
                                    @item.Count
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>


            <div class="cont">
                <img src="~/Content/Image/list_bg.png" alt="Alternate Text" />
                <div class="list">
                    @for (int i = 0; i < 3; i++)
                    {
                        <div class="title">第@(NumberHelper.NumberToChinese((i + 1).ToString()))批选手得票情况</div>
                        foreach (var item in Model.Skip(((i + 1) - 1) * 5).Take(5))
                        {
                            <div>
                                <div class="list-name">
                                    <p>
                                        @item.TeamName
                                    </p>
                                    <span>
                                        @item.UserName
                                    </span>
                                </div>
                                <div class="list-song">
                                    @item.ProgramName
                                </div>
                                <div class="list-poll @item.Id">
                                    @item.Count
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        @*<div class="row">
                <div class="col-3 left">
                    <div class="text-center">

                        <h2 class="text-center">
                            第一批选手得票情况
                        </h2>
                        @foreach (var item in Model.Skip((1 - 1) * 5).Take(5))
                        {
                            <p class="player">
                                @item.TeamName - @item.UserName - @item.ProgramName - <span class="@item.Id">
                                    <span class="count">
                                        @item.Count
                                    </span>
                                </span>
                            </p>
                        }

                        <hr />
                        <h2 class="text-center">
                            第二批选手得票情况
                        </h2>
                        @foreach (var item in Model.Skip((2 - 1) * 5).Take(5))
                        {
                            <p class="player">
                                @item.TeamName - @item.UserName - @item.ProgramName - <span class="@item.Id">
                                    <span class="count">
                                        @item.Count
                                    </span>
                                </span>
                            </p>
                        }

                        <hr />
                        <h2 class="text-center">
                            第三批选手得票情况
                        </h2>
                        @foreach (var item in Model.Skip((3 - 1) * 5).Take(5))
                        {
                            <p class="player">
                                @item.TeamName - @item.UserName - @item.ProgramName - <span class="@item.Id">
                                    <span class="count">
                                        @item.Count
                                    </span>
                                </span>
                            </p>
                        }
                    </div>
                </div>

                <div class="offset-6 col-3">
                    <div class="text-center">
                        <h2 class="text-center">
                            第一批选手得票情况
                        </h2>
                        @foreach (var item in Model.Skip((1 - 1) * 5).Take(5))
                        {
                            <p class="player">
                                @item.TeamName - @item.UserName - @item.ProgramName - <span class="@item.Id">
                                    <span class="count">
                                        @item.Count
                                    </span>
                                </span>
                            </p>
                        }

                        <hr />
                        <h2 class="text-center">
                            第二批选手得票情况
                        </h2>
                        @foreach (var item in Model.Skip((2 - 1) * 5).Take(5))
                        {
                            <p class="player">
                                @item.TeamName - @item.UserName - @item.ProgramName - <span class="@item.Id">
                                    <span class="count">
                                        @item.Count
                                    </span>
                                </span>
                            </p>
                        }

                        <hr />
                        <h2 class="text-center">
                            第三批选手得票情况
                        </h2>
                        @foreach (var item in Model.Skip((3 - 1) * 5).Take(5))
                        {
                            <p class="player">
                                @item.TeamName - @item.UserName - @item.ProgramName - <span class="@item.Id">
                                    <span class="count">
                                        @item.Count
                                    </span>
                                </span>
                            </p>
                        }
                    </div>
                </div>
            </div>*@
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
        $(function () {
            var serverHub = $.connection.AnnualMeeting2020Hub;

            @*投票回调*@
            serverHub.client.finalVote = function (pid, count) {
                $("."+pid).text(count);
            }

            @*开始连接*@
            $.connection.hub.start().done(function () {
                @*连接成功时触发*@
                //alert("连接成功！");
            }).fail(function (error) {
                alert("服务器连接失败！");
            });
        });

</script>
