@using AnnualMeeting2020.EntityFramwork
@using AnnualMeeting2020.EntityFramwork.Models
@{
    User user = default(User);
    if (User.Identity.IsAuthenticated)
    {
        if (Session[AnnualMeeting2020Key.SESSION_USER_KEY] == null)
        {
            using (AnnualMeetingContext db = new AnnualMeetingContext())
            {
                db.Configuration.ProxyCreationEnabled = false;
                var uid = Convert.ToInt32(User.Identity.Name);
                user = db.User.Find(uid);
            }
        }
        else
        {
            user = Session[AnnualMeeting2020Key.SESSION_USER_KEY] as User;
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div style="display: flex; justify-content: space-between; align-items: start;font-size:12px;" class="container">
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>*@
                <ul style="display:flex;justify-content:space-between;list-style:none; padding:0; margin:0;" class="">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="@Url.Action("Background","Home")">
                            主页
                        </a>
                    </li>
                    @if (user != default(User))
                    {
                        if (user.UserType.HasFlag(UserType.普通用户))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Home")">
                                    投票
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Message","Home")">
                                弹幕互动
                            </a>
                        </li>

                        if (user.UserType.HasFlag(UserType.管理员))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("UserList","Admin")">
                                    用户列表
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("Index","Admin")">
                                    实时投票
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("Message","Admin")">
                                    弹幕列表
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("PerformerTicketResult","Admin")">
                                    得票情况
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("JudgesList","Admin")">
                                    评委评分列表
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("AddFraction","Admin")">
                                    其他加分项
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("Ranking","Admin")">
                                    最终排名
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("Switch","Admin")">
                                    管理
                                </a>
                            </li>
                        }
                        if (user.UserType.HasFlag(UserType.评委))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("Judges","Admin")">
                                    评委打分
                                </a>
                            </li>
                        }
                    }
                </ul>
                <div>
                    <ul class="nav ">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown ">
                                <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    @(user?.UserName)
                                </a>
                                <div class="dropdown-menu">
                                    <a style="font-size:12px" class="nav-link text-dark dropdown-item" href="@Url.Action("SignOut","Account")">
                                        退出登录
                                    </a>
                                </div>
                            </li>

                            @*<li class="nav-item">
                                    <a class="dropdown-item" href="@Url.Action("SignOut","Account")">
                                        退出登录
                                    </a>
                                </li>*@
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("Index","Account")">登录</a>
                            </li>
                        }
                    </ul>
                </div>
                @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    </div>*@
            </div>

        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<footer class="border-top footer text-muted ">
            <div class="container">
                &copy; 2019-@DateTime.Now.Year <a href="javascript:;">
                    Privacy
                </a>
            </div>
        </footer>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    //function randomFrom(lowerValue, upperValue) {
    //    return Math.floor(Math.random() * (upperValue - lowerValue + 1) + lowerValue);
    //}
    $("input").on("click", function () {
        setTimeout(function () {
            document.body.scrollTop = document.body.scrollHeight;
        }, 300);
    });
</script>